# Importing Dependencies

In [9]:
import pandas as pd
import numpy as np
import xlsxwriter
import math
import pandas_datareader.data as web
import schwabdev
from scipy import stats
from datetime import datetime
from dateutil.relativedelta import relativedelta
%matplotlib inline

# Momentum Investing
- the strategy in investing in the stocks that increased in price the most

# Collecting S&P 500 constituents

In [2]:
sp_url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
sp500_constituents = pd.read_html(sp_url, header=0)[0]

In [3]:
sp500_constituents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Symbol                 503 non-null    object
 1   Security               503 non-null    object
 2   GICS Sector            503 non-null    object
 3   GICS Sub-Industry      503 non-null    object
 4   Headquarters Location  503 non-null    object
 5   Date added             503 non-null    object
 6   CIK                    503 non-null    int64
 7   Founded                503 non-null    object
dtypes: int64(1), object(7)
memory usage: 31.6+ KB

In [5]:
sp500_constituents = sp500_constituents['Symbol'].to_list()

### changing format to match Schwab's

In [6]:
sp500_constituents = [x.replace('.', '/') for x in sp500_constituents]

# Setting up Schwab API

In [4]:
from key import api_key, api_secret

In [48]:
client = schwabdev.Client(app_key=api_key, app_secret=api_secret, capture_callback=False)

# Creating Datafram
- Basing this strategy in a 6 month change

In [22]:
my_columns = ['Ticker', 'Price (6 months)', 'Price (now)', 'Net Change', 'Number of Shares to Buy']

In [10]:
today = datetime.today()
six_months = today - relativedelta(months = 6)

In [49]:
entries = []
for symbol in sp500_constituents:
    price_history = client.price_history(symbol, periodType='month', period = 6, startDate=six_months, endDate=today).json()
    price_now = price_history['candles'][-1]['close']
    price_6_months = price_history['candles'][0]['close']
    net_change = round(((price_now - price_6_months)/ price_6_months) * 100, 2)
    entries.append(
        [
            symbol,
            price_6_months,
            price_now,
            net_change,
            'N/a'
        ]
    )

In [50]:
momentum_df = pd.DataFrame(entries, columns=my_columns)

### Sorting by biggest increases

In [51]:
momentum_df.sort_values(by='Net Change', ascending=False, inplace=True)

In [52]:
momentum_df.head()

    Ticker  Price (6 months)  Price (now)  Net Change Number of Shares to Buy
360   PLTR             44.86       92.770      106.80                     N/a
171    EQT             37.48       51.890       38.45                     N/a
468   VRSN            181.26      249.185       37.47                     N/a
308    MCK            507.41      695.040       36.98                     N/a
365   PAYC            164.63      217.980       32.41                     N/a

# Creating Excel Output with all data

In [53]:
momentum_df_copy = momentum_df.copy()

In [54]:
momentum_df_copy = momentum_df_copy.drop('Number of Shares to Buy', axis=1)
momentum_df_copy.head()

    Ticker  Price (6 months)  Price (now)  Net Change
360   PLTR             44.86       92.770      106.80
171    EQT             37.48       51.890       38.45
468   VRSN            181.26      249.185       37.47
308    MCK            507.41      695.040       36.98
365   PAYC            164.63      217.980       32.41

In [150]:
writer = pd.ExcelWriter('total_data.xlsx', engine='xlsxwriter')

momentum_df_copy.to_excel(writer, sheet_name='Movers', index=False)

### Formatting

In [151]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_format = writer.book.add_format(
    {
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

In [152]:
dollar_format = writer.book.add_format(
    {
        'num_format': '$0.00',
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

In [153]:
percent_format = writer.book.add_format(
    {
        'num_format': '0.0%',
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

### Applying Formats

In [154]:
column_formats = {
    'A': ['Ticker', string_format],
    'B': ['Price (6 months)', dollar_format],
    'C': ['Price (now)', dollar_format],
    'D': ['Net Change', percent_format]
}

In [155]:
for column in column_formats.keys():
    writer.sheets['Movers'].set_column(f'{column}:{column}', 20, column_formats[column][1])
    writer.sheets['Movers'].write(f'{column}1', column_formats[column][0], column_formats[column][1])

In [156]:
writer.close()

# Keeping Top 50 Movers

In [138]:
final_df = momentum_df.copy()

In [139]:
final_df = final_df.head(50)
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 360 to 488
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Ticker                   50 non-null     object
 1   Price (6 months)         50 non-null     float64
 2   Price (now)              50 non-null     float64
 3   Net Change               50 non-null     float64
 4   Number of Shares to Buy  50 non-null     object
dtypes: float64(3), object(2)
memory usage: 2.3+ KB

In [140]:
final_df.reset_index(inplace=True)
final_df.drop('index', axis = 1, inplace=True)
final_df

   Ticker  Price (6 months)  Price (now)  Net Change Number of Shares to Buy
0    PLTR             44.86      92.7700      106.80                     N/a
1     EQT             37.48      51.8900       38.45                     N/a
2    VRSN            181.26     249.1850       37.47                     N/a
3     MCK            507.41     695.0400       36.98                     N/a
4    PAYC            164.63     217.9800       32.41                     N/a
5    TTWO            161.79     213.9100       32.21                     N/a
6     TKO            115.25     150.5200       30.60                     N/a
7    AXON            444.52     577.8400       29.99                     N/a
8    NFLX            754.68     975.1212       29.21                     N/a
9    CRWD            300.62     388.2000       29.13                     N/a
10    CNP             29.31      37.1700       26.82                     N/a
11      T             21.83      27.4400       25.70                     N/a
12    TPR             50.49      63.3950       25.56                     N/a
13    EXE             84.79     106.2873       25.35                     N/a
14    DRI            159.92     199.9500       25.03                     N/a
15     PM            129.86     160.1750       23.34                     N/a
16    HWM            101.39     124.8350       23.12                     N/a
17    ETR             67.69      83.0450       22.68                     N/a
18    CAH            110.89     135.9650       22.61                     N/a
19    RSG            199.83     244.8600       22.53                     N/a
20    CVS             56.49      69.1900       22.48                     N/a
21    COR            234.47     286.0600       22.00                     N/a
22   FTNT             80.34      97.1500       20.92                     N/a
23     KR             57.37      69.3600       20.90                     N/a
24   FFIV            216.87     262.0400       20.83                     N/a
25    CME            220.34     264.6300       20.10                     N/a
26    WRB             57.66      69.1700       19.96                     N/a
27   GILD             89.00     106.0700       19.18                     N/a
28      V            281.73     335.4800       19.08                     N/a
29    ROL             46.54      55.4150       19.07                     N/a
30    AJG            282.97     335.3550       18.51                     N/a
31   DASH            153.88     181.4200       17.90                     N/a
32    FOX             38.35      45.1700       17.78                     N/a
33   GRMN            162.30     191.0000       17.68                     N/a
34    TPL           1098.01    1290.0000       17.49                     N/a
35    EXC             40.07      47.0472       17.41                     N/a
36    WBA              9.26      10.8650       17.33                     N/a
37   FOXA             41.71      48.7250       16.82                     N/a
38   TMUS            226.36     264.1100       16.68                     N/a
39     GL            105.15     122.5200       16.52                     N/a
40     MO             49.71      57.8800       16.44                     N/a
41   CPRT             51.71      60.0350       16.10                     N/a
42    NEM             48.42      56.1250       15.91                     N/a
43    BRO            103.98     120.2800       15.68                     N/a
44   ORLY           1195.22    1382.6000       15.68                     N/a
45    AZO           3130.96    3615.0300       15.46                     N/a
46    ABT            114.22     131.6050       15.22                     N/a
47  BRK/B            454.01     521.1700       14.79                     N/a
48    PGR            243.78     278.1200       14.09                     N/a
49   WELL            130.20     147.2450       13.09                     N/a

# Calculating the Number of Shares to Buy

In [141]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input('Enter the size of the porfolio: ')

    try:
        float(portfolio_size)
    except ValueError:
        print('Invalid input! \n Please try again.')
        portfolio_size = input('Enter the size of the porfolio: ')

In [142]:
portfolio_input()

In [143]:
print(portfolio_size)

100000

In [144]:
position_size = float(portfolio_size) / len(final_df.index)
position_size

2000.0

In [148]:
for i in range(0, len(final_df)):
    final_df.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / final_df.loc[i, 'Price (now)'])

In [149]:
final_df.head()

  Ticker  Price (6 months)  Price (now)  Net Change Number of Shares to Buy
0   PLTR             44.86       92.770      106.80                      21
1    EQT             37.48       51.890       38.45                      38
2   VRSN            181.26      249.185       37.47                       8
3    MCK            507.41      695.040       36.98                       2
4   PAYC            164.63      217.980       32.41                       9

# Exporting to Excel

In [161]:
writer = pd.ExcelWriter('recommended_trades.xlsx', engine='xlsxwriter')

final_df.to_excel(writer, sheet_name='Recommended Trades', index=False)

In [162]:
integer_format = writer.book.add_format(
    {
        'num_format': '0',
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

In [163]:
column_formats = {
    'A': ['Ticker', string_format],
    'B': ['Price (6 months)', dollar_format],
    'C': ['Price (now)', dollar_format],
    'D': ['Net Change', percent_format],
    'E': ['Number of Shares to Buy', integer_format]
}

In [164]:
for column in column_formats.keys():
    writer.sheets['Recommended Trades'].set_column(f'{column}:{column}', 20, column_formats[column][1])
    writer.sheets['Recommended Trades'].write(f'{column}1', column_formats[column][0], column_formats[column][1])

In [165]:
writer.close()